<footer class="modern-footer">
  <div class="footer-waves">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 24 150 28" preserveAspectRatio="none">
      <defs>
        <path id="wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="wave-parallax">
        <use href="#wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
        <use href="#wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use href="#wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use href="#wave" x="48" y="7" fill="rgba(255,255,255,0.2)" />
      </g>
    </svg>
  </div>

  <div class="footer-container">
    <div class="footer-top">
      <div class="footer-brand">
        <div class="footer-logo">
          <div class="logo-container">
            <mat-icon class="footer-icon">school</mat-icon>
            <span class="footer-title">ExamPortal</span>
          </div>
          <div class="glow-effect"></div>
        </div>
        <p class="footer-description">
          Empowering education through innovative online assessment solutions. Join thousands of students and educators in revolutionizing the way we learn and evaluate.
        </p>
        <div class="newsletter-signup">
          <h3>Stay Updated</h3>
          <div class="input-group">
            <input type="email" placeholder="Enter your email" class="newsletter-input">
            <button mat-raised-button class="subscribe-btn">
              <mat-icon>send</mat-icon>
              Subscribe
            </button>
          </div>
        </div>
      </div>
      
      <div class="footer-links">
        <div class="footer-links-column">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="#" class="hover-effect">Home</a></li>
            <li><a href="#" class="hover-effect">About Us</a></li>
            <li><a href="#" class="hover-effect">Features</a></li>
            <li><a href="#" class="hover-effect">Pricing</a></li>
            <li><a href="#" class="hover-effect">Contact</a></li>
          </ul>
        </div>
        
        <div class="footer-links-column">
          <h3>Resources</h3>
          <ul>
            <li><a href="#" class="hover-effect">Documentation</a></li>
            <li><a href="#" class="hover-effect">Tutorials</a></li>
            <li><a href="#" class="hover-effect">Blog</a></li>
            <li><a href="#" class="hover-effect">Support Center</a></li>
            <li><a href="#" class="hover-effect">FAQ</a></li>
          </ul>
        </div>
        
        <div class="footer-links-column">
          <h3>Legal</h3>
          <ul>
            <li><a href="#" class="hover-effect">Privacy Policy</a></li>
            <li><a href="#" class="hover-effect">Terms of Service</a></li>
            <li><a href="#" class="hover-effect">Cookie Policy</a></li>
            <li><a href="#" class="hover-effect">GDPR</a></li>
            <li><a href="#" class="hover-effect">Security</a></li>
          </ul>
        </div>

        <div class="footer-links-column">
          <h3>Connect</h3>
          <div class="social-grid">
            <a href="#" class="social-link facebook">
              <mat-icon>facebook</mat-icon>
              <span>Facebook</span>
            </a>
            <a href="#" class="social-link twitter">
              <mat-icon>twitter</mat-icon>
              <span>Twitter</span>
            </a>
            <a href="#" class="social-link linkedin">
              <mat-icon>linkedin</mat-icon>
              <span>LinkedIn</span>
            </a>
            <a href="#" class="social-link instagram">
              <mat-icon>instagram</mat-icon>
              <span>Instagram</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <div class="footer-info">
        <p class="copyright">&copy; 2024 ExamPortal. All rights reserved.</p>
        <div class="footer-badges">
          <span class="badge">
            <mat-icon>verified</mat-icon>
            Certified Platform
          </span>
          <span class="badge">
            <mat-icon>security</mat-icon>
            SSL Secured
          </span>
          <span class="badge">
            <mat-icon>support_agent</mat-icon>
            24/7 Support
          </span>
        </div>
      </div>
      
      <div class="footer-cta">
        <button mat-raised-button class="footer-button">
          <mat-icon>rocket_launch</mat-icon>
          Get Started
        </button>
      </div>
    </div>
  </div>
</footer>
